body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h3 {
    font-family: 'Poppins', sans-serif;
  }
  
  .card {
    border-radius: 15px;
  }
  
  .card-title {
    font-size: 1.5rem;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .list-group-item {
    border: none;
    padding-left: 0;
  }
  
  .list-group-flush > .list-group-item:first-child {
    font-weight: 500;
  }
  